* {
    overflow: visible;
}
.container {
    height:100%;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
    "h h h h h h h h h h h h"
    "n n n n n n n n n n n n"
    "t t t t t t t t t t t t"
    "rH rH rH rH rH rH rH rH rH rH rH rH"
    "c1 c1 c1 c2 c2 c2 c2 c2 c2 c2 c2 c2"
    "f f f f f f f f f f f f"
}

body {
    margin-left: 27px;
    font-family: 'Poppins', sans-serif;
    color: rgb(177, 177, 177);
    background-color: black;
  }
  
h1 {
    font-size: 2em;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-transform: lowercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: lightblue;
    padding-bottom: 30px;
  }
  
h3 {
    color: rgb(177, 177, 177);
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
}
  
li {
    list-style: none;
}
.sections {
    font-size: 1.5em;
    text-transform: lowercase;
    color: lightblue;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    padding-left: 0;
}
.bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: lightblue;
}
.bold2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding-top: 13px;
    color: lightblue;
}
.col2 {
    grid-area: c2;
}
.col1 {
    grid-area: c1;
}
.resHeading {
    grid-area: rH;
}
#resHeading {
    padding-bottom: 10px;
}
nav {
    grid-area: n;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(177, 177, 177);
    text-align: right;
    padding-right: 20px;
    /* background-color: lightblue; */
    border-style: solid;
    border-color: grey;
    border-width: .5px 0px .5px 0px;
    font-family: 'Poppins', sans-serif;
    /* border-radius: 5px; */
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 20px;
    font-size: 13pt;  
}
.footer {
    grid-area: f;
}
.title {
    grid-area: t;
    color: lightblue;
    font-family: 'Poppins', sans-serif; 
    font-weight: 800;
    word-spacing: 5px;
    margin: 0px;
    list-style: none;
    font-size: 18pt;
    letter-spacing: 1px;
    font-kerning: normal;
    padding-bottom: 10px;
}
header {
    grid-area: h;
    padding-left: 0px;
    color: lightblue;
    font-family: 'Poppins', sans-serif; 
    word-spacing: 5px;
    letter-spacing: 1px;
    padding-top: 20px;
}
.nav:hover {
    color: lightblue;
}
a {
    /* color: rgb(122, 122, 122); */
    color: lightblue;
    text-decoration: none;
}
a:hover {
    /* color: lightblue; */
    color: rgb(177, 177, 177)
}
a.line:hover {
    color: rgb(177, 177, 177);
}
a.line {
    color: rgb(177, 177, 177);
    /* color: lightblue; */
    margin-left: 2px;
    margin-right: 2px;
}
