* {
    background-color: rgb(252, 213, 42);
    overflow: visible;
}
/* turns border on and off */
/* div {
    border-style: solid;
    border-color: black;
    border-width: thin;
} */
.container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: 
    "h h h h h h h h h h h h"
    "n n n n n n n n n n n n"
    "g g g g g g g g g g g g"
    "c c c c c c c c c c c c"
    "a a a a a a a a a a a a"
    "r r r r r r r r r r r r"
    "ct ct ct ct ct ct ct ct ct ct ct ct";
}
#header {
    grid-area: h;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px; 
    padding-top: 3%;
    padding-bottom: 2.5%;
    padding-left: 2.3%;
    padding-right: 2.3%;
    font-size: 30pt;
    font-weight: 800;
    color:white;
    list-style: none;
}
/* .header:hover {
    color: white;
} */
/* fixed the kerning of the "rt" */
.t {
    padding-left: 2px;
}
.graphicDesigner {
    list-style: none;
    font-weight: 400;
    font-size: 25pt;
}
nav {
    grid-area: n;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 1.5%;
    padding-left: 2.3%;
    padding-right: 2.3%;
    font-size: 15pt;
    text-align: right;
}
.greeting {
    grid-area: g;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 1.5%;
    padding-left: 2.3%;
    padding-right: 2.3%;
    font-weight: 600;
    font-size: 18pt;
    color: white;
}
/* .greeting:hover {
    color: white;
} */
.content {
    grid-area: c;
    font-family: 'Poppins', sans-serif;
    padding-left: 2.3%;
    padding-right: 2.3%;
    padding-bottom: 1.5%;
    font-size: 12pt;
}
a {
    color: black;
    text-decoration: none;
}
a.line {
    color: black;
    margin-left: 2px;
    margin-right: 2px;
}
a:hover {
    /* color: lightblue; */
    color: white;
}
a.line:hover {
    color: black;
}
/* used part of a tutorial from csstricks.com */
#Layer_1 {
    padding-left: 28%;
    stroke: white;
    stroke-width: 1px;
    stroke-dasharray: 500px;
    animation: dash 7s linear infinite;
    -webkit-animation: dash 7s linear infinite;
    fill: transparent;
}
@keyframes dash {
    to {
        stroke-dashoffset: 1000;
        fill: white;
    }
}
/* back to my code */
/* trying to move the arrow to next to "check out my work" */
.arrow {
    grid-area: a;
    height: 100%;
    width: 100%;
}
.resumeContent {
    grid-area: r;
    font-family: 'Poppins', sans-serif;
    padding-left: 2.3%;
    padding-right: 2.3%;
    padding-top: 1.5%;
    font-size: 12pt;
}
.here {
    color: white;
}
/* .here:hover {
    color: black;
} */
.contactMe {
    grid-area: ct;
    font-family: 'Poppins', sans-serif;
    padding-left: 2.3%;
    padding-right: 2.3%;
    padding-top: 1.5%;
    font-size: 12pt;
}
#headerA {
    color: white;
}