/* .imageWrapper{ */
    /* height:100%; */
    /* display:grid; */
    /* grid-template-columns: repeat(12, 1fr); */
    /* grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto; */
    /* grid-template-areas: */
    /* "h h h h h h h h h h h h"
    "n n n n n n n n n n n n"
    "t t t t t t t t t t t t" */
    /* "iOe iOe iOe iOe iOe iOe iOe iOe iOe iOe iOe iOe" */
    /* "c c c c c c c c c c c c" */
    /* "iT iT iT iT iT iT iT iT iT iT iT iT" */
    /* "c c c c c c c c c c c c" */
    /* "iTh iTh iTh iTh iTh iTh iTh iTh iTh iTh iTh iTh" */
    /* "c c c c c c c c c c c c" */
    /* "iF iF iF iF iF iF iF iF iF iF iF iF" */
    /* "c c c c c c c c c c c c" */
    /* "iFv iFv iFv iFv iFv iFv iFv iFv iFv iFv iFv iFv" */
    /* "c c c c c c c c c c c c" */
    /* "iS iS iS iS iS iS iS iS iS iS iS iS" */
    /* "c c c c c c c c c c c c" */
    /* "iSv iSv iSv iSv iSv iSv iSv iSv iSv iSv iSv iSv" */
    /* "c c c c c c c c c c c c"
    "f f f f f f f f f f f f";
} */
/* div{
    border-style: solid;
    border-color: black;
    border-width: thin;
} */
.header {
    grid-area: h;
    padding-left: 20px;
    color: lightblue;
    font-family: 'Poppins', sans-serif; 
    word-spacing: 5px;
    letter-spacing: 1px;
}
.logo {
    grid-area: l;
}
.title {
    grid-area: t;
    /* padding-left: 20px; */
    color: lightblue;
    font-family: 'Poppins', sans-serif; 
    font-weight: 800;
    word-spacing: 5px;
    margin: 0px;
    padding-left: 20px;
    list-style: none;
    font-size: 18pt;
}
.image {
    grid-area: i;
    padding-left: 20px;
}
.imageWrapper{
    /* object-fit: cover; */
    /* max-height: 100%; */
    /* max-width:100%; */
    padding-top: 30px;
    padding-left: 20%;
    padding-right:20%
}
.nav {
    grid-area: n;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(122, 122, 122);
    text-align: right;
    padding-right: 20px;
    /* background-color: lightblue; */
    border-style: solid;
    border-color: grey;
    border-width: .5px 0px .5px 0px;
    font-family: 'Poppins', sans-serif;
    /* border-radius: 5px; */
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 13pt;
}
.content {
    grid-area: c;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(122, 122, 122);
    font-family: 'Poppins', sans-serif;
}
.footer {
    grid-area: f;
}

* {
    /* font-family: 'Poppins', sans-serif; */
    overflow: visible;
}
.nav:hover {
    /* animation: jello;
    -webkit-animation: jello 1s; */
    color: lightblue;
}
a {
    /* color: rgb(122, 122, 122); */
    color: lightblue;
    text-decoration: none;
}
a:hover {
    /* color: lightblue; */
    color: rgb(122, 122, 122)
}
a.line:hover {
    color: rgb(122, 122, 122);
}
a.line {
    color: rgb(122, 122, 122);
    /* color: lightblue; */
    margin-left: 2px;
    margin-right: 2px;
}
body {
    background-color: black;
}
.imageTwo {
    padding-bottom: 5%;
}
/* .imageThree {
    grid-area: iTh;
}
.imageFour {
    grid-area: iF;
}
.imageFive {
    grid-area: iFv;
}
.imageSix {
    grid-area: iS;
}
.imageSeven {
    grid-area: iSv;
} */
.descriptions {
    color: rgb(177, 177, 177);
    font-family: 'Poppins', sans-serif; 
    font-weight: 400;
}
.projectTitle {
    color: rgb(177, 177, 177);
    font-family: 'Poppins', sans-serif; 
    font-weight: 800;
    word-spacing: 2px;
    letter-spacing: 2px;
}