* {box-sizing: border-box;}
.wrapper {
    /* always start with borders */
    border: 4px solid none;
    background-color:black; 
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
    "h h h h h h h h h h h h"
    "n n n n n n n n n n n n"
    "m m m m m m m m m m m m"
    "c c c c c c c c c c c c"
    "f f f f f f f f f f f f"
}
/* .wrapper > div {
    border: 2px solid none;
    background-color:black; 
    padding: 1em;
} */
.header {
    grid-area: h; 
}
.footer {
    grid-area: f;
}
.main {
    grid-area: m;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.sidebar {
    grid-area: s;
}

/* where we are setting the size for mobile devices */
.wrapper {
    display: grid;
    grid-auto-rows: 11% auto auto 7%;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "h"
      "m"
      "s"
      "f";
}
/* @media (min-width: 600px) {
    .wrapper {
        grid-template-columns: repeat(9, 1fr);
        grid-template-areas: 
          "h h h h h h h h h"
          "s s s m m m m m m"
          "f f f f f f f f f";
    }
} */
/* when the screen is 750px or larger, do this */
@media (min-width: 750px) {
    .wrapper {
        grid-template-columns: repeat(9, 1fr);
        grid-template-areas: 
          "h h h h h h h h h"
          "s s s m m m m m m"
          "f f f f f f f f f";
    }
}
